[Unit]
Description=prometheus temperature server
After=network.target


[Service]
Environment="PYTHONUNBUFFERED=1"
EnvironmentFile=-/etc/default/prometheus_temperatured
Restart=always
ExecStart=/usr/local/bin/prometheus_temperatured $TEMPERATURED_OPTIONS
Type=simple

[Install]
WantedBy=multi-user.target
Alias=prometheus_temperature.service
